mixin coloredBtn(name='Create', certainClass='submit')
    div
        button(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" class=certainClass) #{name} 

mixin grayBtn(id, content, data)
    button(id=id class="open-modal mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-open-modal=data) #{content}

mixin iconBtn(certainClass, id, icon, label)
    button(class="logout mdl-button mdl-js-button mdl-button--icon" class=certainClass) 
        div(class="logout icon material-icons") #{icon}